<%= form_for ( [@recipe, @recipe.recipe_images.build ])  do |f| %>
			
	<div class="col-md-3">
		<%= f.file_field :image %>
	</div>
	
	<div class="col-md-6">
		<%= f.text_area :description, size: "73x10" %>
	</div>

	<div class="col-md-2">
		<%= f.submit 'Add Image' %>
	</div>

	<div class="col-md-1">
		<%= link_to 'Back', books_path %>
	</div>
<% end %>		